# Stable Diffusion 모델 및 대용량 파일 제외
*.ckpt
*.safetensors
*.pth
*.bin
*.zip
*.tar
*.7z
*.pt
*.pkl

# 특정 폴더 제외
models/
modules/
outputs/
repositories/
cache/
log/
tmp/
ESRGAN/
SwinIR/
venv/
interrogate/
embeddings/
textual_inversion/
config_states/
node_modules/
BLIP/
extensions/Auto-Photoshop-StableDiffusion-Plugin/

# 사용자 설정 파일 제외
config.json
ui-config.json
params.txt
styles.csv
styles.csv.bak
webui-user.bat
webui-user.sh
webui.settings.bat
user.css

# 임시 및 캐시 파일 제외
*.tmp
*.log
*.cache
*.coverage*
trace.json
cache.json*
sysinfo-????-??-??-??-??.json

# 기타 불필요한 파일
notification.mp3
.DS_Store
.idea/
.vscode/
package-lock.json
test/stdout.txt
test/stderr.txt
test/test_outputs/
